@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav a {
    padding: 0.5rem 1rem;
    text-decoration: none;
}
nav a:hover {
    transition: color 0.3s ease;
}